
/*  ----  Uneversal Style  ----  */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ----  General Style  ----  */

html {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

body {
    background-color: #F2E9E4;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*  ----  Header Style  ----  */

.header {
    height: 100vh;
    background: url(images/banner_shape.png) no-repeat right;
    
    z-index: 999;
}

.logo {
    height: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

.nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1rem;
  }

  .nav__item {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
  }
  
  .nav__item + .nav__item {
    margin-left: 50px;
  
    /* border: 2px solid red; */
  }

.banner-text {
    width: 40%;
}

.banner-image {
    margin-top: 10px;
    width: 44%;
    /* background: url(images/my_photo.png) no-repeat right bottom; */
    
    align-items: baseline;

    border: 1px solid red;
}

/*  ----  Section About Style  ----  */

.info {
    
    background-color: #4A4E69;
    color: white;
    padding: 30px 0;
}

.info-about {
    background: url(images/about_shape.png) no-repeat left;
    width: 60%;
}


